$color-background: #FFFFFF;
$color-two: #F8F8F8;
$color-border: #D9FFF5;
$color-border2: #eaeaea;
$color-border3: #B8FFEC;
$color-text: #1B1C21;
$color-text2: #7E7E82;
$color-bullet: #DDDDDD;
$color-bullet-active: #B5B6BC;
$color-three: #FF3E79;
$color-four: #41f6d7;
$color-shadow: #0E185033;

$font-family-base: 'TT Lakes', sans-serif;
